@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
a{
    text-decoration: none;
    color: #f6f7f8;
}
.product{
    display: flex;
    padding: 10px;
    margin-left: 150px;
    font-weight: 500px;
    font-size: 18px;
    border-bottom: 1px solid #f6f7f8;
    .price{
        display: flex;
        padding-right: 30px;
        margin-left: 500px;
        .qty{
            margin-left: 100px;
            margin-right: 150px;
        }
    }
}
.main-product{
    padding: 20px;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #f6f7f8;
    margin-left: 150px;
    .xx{
        color:#ff4252;
        background-color: #ffffff;
        border-radius: 15px;
        width: 15px;
        height: 15px;
        font-size: 11px;
        text-align: center;
        margin-top: 40px;
    }
    .pic{
        margin-left: 30px;
    }
    .up{
        margin-top: 30px;

    }
    .nike{
        margin-left: 30px;
        margin-right: 200px;
        margin-top: 30px;
    }
    .box{
        background-color: #f6f7f8;
        margin-left: 100px;
        margin-right: 110px;
        width: 90px;
        height: 30px;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        .color{
            color: #33a0ff;
        }
        .space{
            margin: 10px;
        }
        
    }
    
}
.check-out{
    margin: 50px;
    display: flex;
    .btn{
        display: flex;
        margin-left: 160px;
    }
    button{
        background-color: #33a0ff;
        color: #f6f7f8;
        border: 0px;
        height: 30px;
        width: 70px;
        :hover{
            background-color: blue;
        }
    }
    .voucher{
         border-top: 2px solid #f6f7f8;
         border-bottom: 2px solid #f6f7f8;
         border-left: 2px solid #f6f7f8;
        height: 30px;
        width: 150px;

        p{
            font-size: 12px;
            color: #2626269d;
            margin-left: 5px;

        }
    }
   .total{
       display: flex;
       border-bottom: 2px solid #f6f7f8;
       margin-left: 300px;
    .total-1{
        // margin-left: 300px;
        font-size: 13px;
    }
    .total-2{
        margin-left: 150px;
        font-size: 13px;
    }
   }
}
.bill{
    display: flex;
    margin-left: 740px;
    font-weight: bold;
    font-size: 25px;
    margin-top: -45px;
    .cash{
        margin-left: 140px;
    }
}
.check-btn{
    margin-left: 740px;
    background-color: #33a0ff;
    color: #f6f7f8;
    border: none;
    height: 30px;
    width: 270px ;
    :hover{
        background-color: blue;
    }

}